name: build and deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            subhadeepthandaka/interview-be:latest
            subhadeepthandaka/interview-be:${{ github.ref_name }}

      - name: Verify push
        run: docker pull subhadeepthandaka/interview-be:${{ github.ref_name }}

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            echo "Connection successful!"

            # Stop and remove any existing container with the same name
            sudo docker stop interview-be || true
            sudo docker rm interview-be || true
            sudo docker image prune -f

            # Pull the latest image
            sudo docker pull subhadeepthandaka/interview-be:${{ github.ref_name }}

            # Run the new container
            sudo docker run -d -p 3000:3000 \
              --name interview-be \
              -e DATABASE_URL="${{ secrets.DATABASE_URL }}" \
              -e JWT_SECRET="${{ secrets.JWT_SECRET }}" \
              -e OPENAI_API_KEY="${{ secrets.OPENAI_API_KEY }}" \
              subhadeepthandaka/interview-be:${{ github.ref_name }}



            echo "Deployment complete!"
